#home{
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100rem;
  height: 90rem;
}
.margin {margin: 0.3em;}
.space {
  margin-top: 5%;
}
input{
  color: white;
  font-size: 70%;
  text-align: center;
}
img{
  width: 100px;
  height: 90px;

}
.order{
  font-size: 1.5em ;
}
#toast-container{
  height: 50% !important;
}